/*-- scss:defaults --*/

$galaxy-blue: #041746;
$burning-orange: #CC7A00;
$white: #FFFFFF;
$gray-1: #C4C4C4;
$gray-2: #7D7D7D;
$sky-blue: #0052cc;
$forest-green: #00CC14;


$primary: #041746ef;
$secondary:     $burning-orange !default;
$success:       $burning-orange !default;
//$warning:
$light:         $gray-1;
$dark:          $gray-2;
$important: $burning-orange;
/*-- scss:rules --*/