/*-- scss:defaults --*/

$ubc-blue: #002145;
$ubc-secondary-blue: #0055B7;
$ubc-secondary-blue2: #00A7E1;
$ubc-secondary-blue3: #40B4E5;
$ubc-secondary-blue4: #6EC4E8;
$ubc-secondary-blue5: #97D4E9;

$font-family-sans-serif: Arial, Helvetica, sans-serif;
$presentation-heading-color: $ubc-blue;
$presentation-heading-font: Arial, Helvetica, sans-serif;
$presentation-title-font: Arial, Helvetica, sans-serif;
$link-color: $ubc-secondary-blue2;

.footer > p {
font-size: 0.675em;
}

/*-- scss:rules --*/

